*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* HERO PAGE */
.heroPage{
    min-height: 100vh;
    background-image: url(images/white_bg.jpg);
    background-blend-mode: color;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    overflow: hidden;
}

.bgHero{
    position: absolute;
    align-self: center;
    top:5rem;
    left:50%;
    width:100%;
    height: auto;
    transform: translateX(-50%);
    overflow: hidden;
}

/* NAVBAR */
.navBar {
    position: fixed;
    top:0;
    width: 100%;
    padding:1rem 3%;
    align-items: center;
    z-index: 1000;
    background: transparent;
    color: white;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
}

.navBar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.navBar .logo{
    width: auto;
    height: 70px;
}


.navBar .heroShuttle{
    visibility: hidden;
    width:50px;
    height:50px;
}

.heroPage .shuttle{
    position: absolute;
    bottom: -1%;
    left:50%;
    width:50px;
    height:50px;
    animation: float 2s infinite ease-in-out;
    cursor: pointer;
}

@keyframes float {
    0%,100%{transform: translate(-50%,0);}
    50%{transform: translate(-50%,-10px);}
}

.navBar .sections{
    font-family: sans-serif;
    font-size: 1.4rem;
    color:#081F3F;
    margin-top: 1rem;
}

.navBar .sections:hover{
    cursor: pointer;
}


/* SIDE MENU */
.menu-overlay{
    position: fixed;                /*So that is is visible regardless of the section*/ 
    inset:0;
    z-index:1500;                         /*So that none of the buttons are accessible*/
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(4px);
    transition: opacity 0.4s ease;
    opacity:0;
    pointer-events: none; 
}

 .menu-open .menu-overlay{
    opacity:1;
}

.sideMenu{
    display: flex;
    flex-direction: column;

    position: fixed;
    top:0;
    right:0;
    width:30%;
    height: 100vh;
    font-size:2rem;
    padding:2rem;

    background: #0a1a2f; 
    color: white;

    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2000;
}

.second{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.first{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-nav {
    display: flex;
    flex-direction: column;
    gap:2rem;
}


.side-nav a, .side-nav a:active, .side-nav a:visited{
    position: relative;
    font-size: 2rem;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color:white;
}


.side-nav a::after{
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    left: 0;
    bottom :-6px;
    width:0%;
    border-bottom: 2px solid #4da3ff;
    transition: border-bottom 0.5s ease;
/*    left: 0;
    bottom :-6px;
    width:0%;
    border-bottom: 2px solid #4da3ff;
    transition: border-bottom 0.5s ease; */
}

.side-nav a:hover::after{
    width: 100%;
}

.menu-open .sideMenu {
    transform: translateX(0);
}

.closeBtn{
    padding:10px;
    color:white;
    border: #081F3F 2px solid;
    border-radius: 10px;
    width:60px;
    height:60px;
    text-align: center;
}

.closeBtn:hover{
    cursor: pointer;
    border: #022556 4px solid;
}



/* BIOGRAPHY */

.bioWBackground{
    background-image: url(images/white_bg.jpg);
}

.bio{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index:50;
}

.bioName{
    align-self: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index:100;
    background-color: white;
    padding:5rem 3rem 5rem 5rem;
}

.bioName .heading{
    font-family: "Source Code Pro";
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color:#0a1a2f;
}

.bioName p{
    font-family: "Roboto";
    font-size: 1.5rem;
    color:rgb(77, 77, 77);
}

.bio .stats{
    display: flex;
    flex-direction: row;
    animation:scroll 20s linear infinite;
    gap:2rem;
    width:100%;
    position: relative;
}

.stats:hover{
    animation-play-state: paused;
}


.bio .box{
    padding: 1.3rem;
    border: 4px solid #0b2342;
    min-width:40vh;
    color:black;
    background-color: white;
}

.bio h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.bio p{
    font-size: 1.3rem;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}


/* QUOTE PAGE */
.quotePage{
    min-height: 100vh;
    background-image: url(images/white_bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotePage p{
    font-family: 'geom';
    font-size: 5rem;
    color:#081F3F;
    width:70%;

}

/* TIMELINE SECTION */
.timeline{
    background-color: #071018;
    min-height: 100vh;
    color: #DCE0E8;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.timelineHeading{
    text-align: center;
    padding: 10vh 2rem 5vh;
    max-width: 800px;
}

.timelineHeading h3{
    font-size: clamp(2.5rem, 6vw, 4rem);
}

.timelineHeading p{
    font-size: clamp(1rem, 2vw, 1.125rem);
}

.timelineWrapper{
    position: relative;
    max-width: 1000px;
    height:100%;
    margin: 0 auto;
    padding: 5vh 2rem 20vh;
}

.timelineLine{
    position: absolute;
    top:0;
    background-color:#222222;
    z-index:1;
    left:50%;
    transform: translateX(-50%);
}

.timelineLineProgress{
    width:100%;
    height:100%;
    background: linear-gradient(to bottom, rgba(74, 144, 226, 0.5), #ffffff);
    transform-origin:top;
    transform: scaleY(0);                   /* Initially hidden */
    animation: fill-line linear forwards;                                                /* forwards = keep the final state */
    animation-timing-function: scroll(timeline);
}

.timelineSection:nth-child(even) {
    justify-content: flex-end;
}

.timelineMarker{
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width:18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #222222;
    background-color: #071018;
    z-index:3;
    transition: background-color 0.3s, border-color 0.3s;
    /* Animate marker when it's in the middle of the screen */
    animation: light-up linear forwards;
    animation-timing-function: view();
    animation-range: contain 40% contain 60%;                               
    /* Nothing happens when it first appears | It animates near the center of the screen */

}

.timelineContent{
    width: calc(50% -40px);                                 /*  box   80px(for line and marker)   box  */
    padding:2rem;
    background-color: rgba(15, 25, 40, 0.55);
    border-radius: 12px;
    border: 1px solid rgba(180, 200, 255, 0.12);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    position: relative;

    /* Animate when in view */
    animation: fade-in-up linear forwards;
    animation-timing-function: view();
    animation-range: entry 20% cover 50%;
}

.timelineSection:nth-child(even) .timelineContent {
  text-align: left;
}

.timelineYear{
    font-size: clamp(1rem, 2vw, 1.1rem);
    font-weight: 500;
    color: #ffffff;
    /* margin-bottom */

}

.timelineTitle{
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    font-weight:300;
}

/* ANIMATIONS SPECIFIED */
@keyframes fill-line {
    to{
        transform:scaleY(1);
    }
}

@keyframes light-up {
    from,
    to{
        border-color:#222222 ;
        background-color: #071018;
        box-shadow: none;
    }
    50%{
        border-color: #ffffff;
        background-color: #ffffff;
        box-shadow: 0 0 15px 5px rgba(74, 144, 226, 0.5);
    }

    100%{
        border-color: #ffffff;
        background-color: #ffffff;
        box-shadow: 0 0 15px 5px rgba(74, 144, 226, 0.5);
    }
}

@keyframe fade-in-up{
    from{
        opacity:0;
        transform: translateY(50px) scale(0.95);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

