*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO PAGE */
.heroPage{
    min-height: 100vh;
    background-image: url(images/white_bg.jpg);
    background-blend-mode: color;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    overflow: hidden;
}

.bgHero{
    position: absolute;
    align-self: center;
    top:5rem;
    left:50%;
    width:100%;
    height: auto;
    transform: translateX(-50%);
    overflow: hidden;
}

/* NAVBAR */
.navBar {
    position: fixed;
    top:0;
    width: 100%;
    padding:1rem 3%;
    align-items: center;
    z-index: 1000;
    background: transparent;
    color: white;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
}

.navBar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.navBar .logo{
    width: auto;
    height: 70px;
}


.navBar .heroShuttle{
    visibility: hidden;
    width:50px;
    height:50px;
}

.heroPage .shuttle{
    position: absolute;
    bottom: -1%;
    left:50%;
    width:50px;
    height:50px;
    animation: float 2s infinite ease-in-out;
    cursor: pointer;
}

@keyframes float {
    0%,100%{transform: translate(-50%,0);}
    50%{transform: translate(-50%,-10px);}
}

.navBar .sections{
    font-family: sans-serif;
    font-size: 1.4rem;
    color:#081F3F;
    margin-top: 1rem;
}

.navBar .sections:hover{
    cursor: pointer;
}


/* SIDE MENU */
.menu-overlay{
    position: fixed;                /*So that is is visible regardless of the section*/ 
    inset:0;
    z-index:1500;                         /*So that none of the buttons are accessible*/
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(4px);
    transition: opacity 0.4s ease;
    opacity:0;
    pointer-events: none; 
}

 .menu-open .menu-overlay{
    opacity:1;
}

.sideMenu{
    display: flex;
    flex-direction: column;

    position: fixed;
    top:0;
    right:0;
    width:30%;
    height: 100vh;
    font-size:2rem;
    padding:2rem;

    background: #0a1a2f; 
    color: white;

    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2000;
}

.second{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.first{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-nav {
    display: flex;
    flex-direction: column;
    gap:2rem;
}


.side-nav a, .side-nav a:active, .side-nav a:visited{
    position: relative;
    font-size: 2rem;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color:white;
}


.side-nav a::after{
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    left: 0;
    bottom :-6px;
    width:0%;
    border-bottom: 2px solid #4da3ff;
    transition: border-bottom 0.5s ease;
/*    left: 0;
    bottom :-6px;
    width:0%;
    border-bottom: 2px solid #4da3ff;
    transition: border-bottom 0.5s ease; */
}

.side-nav a:hover::after{
    width: 100%;
}

.menu-open .sideMenu {
    transform: translateX(0);
}

.closeBtn{
    padding:10px;
    color:white;
    border: #081F3F 2px solid;
    border-radius: 10px;
    width:60px;
    height:60px;
    text-align: center;
}

.closeBtn:hover{
    cursor: pointer;
    border: #022556 4px solid;
}



/* BIOGRAPHY */

.bioWBackground{
    background-image: url(images/white_bg.jpg);
}

.bio{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index:50;
}

.bioName{
    align-self: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index:100;
    background-color: white;
    padding:5rem 3rem 5rem 5rem;
}

.bioName .heading{
    font-family: "Source Code Pro";
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color:#0a1a2f;
}

.bioName p{
    font-family: "Roboto";
    font-size: 1.5rem;
    color:rgb(77, 77, 77);
}

.bio .statsNoHover{
    display: flex;
    flex-direction: row;
    animation:scroll 20s linear infinite;
    gap:2rem;
    width:100%;
    position: relative;
}

.bio .statsHover{
    display: flex;
    flex-direction: row;
    gap:2rem;
    width:100%;
    position: relative;
}

.bio .box{
    padding: 1.3rem;
    border: 4px solid #0b2342;
    min-width:40vh;
    color:black;
    background-color: white;
}

.bio h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.bio p{
    font-size: 1.3rem;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
