*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO PAGE */

.heroPage{
    min-height: 100vh;
    background-image: url(images/LS1hero.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}

/* NAVBAR */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Inter, sans-serif;
}

/* NAV WRAPPER */
.nav{
  position: fixed;
  top: 24px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

/* FLOATING GLASS CARD */
.nav-inner{
  width: 92%;
  max-width: 1400px;
  padding: 1.1rem 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.35);
}

/* LEFT LOGO */
.logo{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.08em;
  color: #ffffff;
}

/* RIGHT SECTION */
.nav-right{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* CHAPTERS TEXT */
.chapters{
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.12em;
  color: white;
  cursor: pointer;
}

.chapters .arrow{
  margin-left: 0.3rem;
  transition: transform 0.3s ease;
}

.chapters:hover .arrow{
  transform: translateY(3px);
}

/* HAMBURGER */
.hamburger{
  width: 22px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span{
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 2px;
}



.navBar .shuttle{
    visibility: hidden;
    width:50px;
    height:50px;
}

.heroPage .shuttle{
    position: absolute;
    bottom: -1%;
    left:50%;
    width:50px;
    height:50px;
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0%,100%{transform: translate(-50%,0);}
    50%{transform: translate(-50%,-10px);}
}
/* BIOGRAPHY */
.bio{
    min-height: 100vh;
}