body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

/* LEFT PANEL */
.left {
  z-index: 10;
  padding: 4rem;
  background: black;
}

/* RIGHT PANEL */
.right {
  position: relative;
  overflow: hidden;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 22s linear infinite;
}

.item {
  min-width: 260px;
  margin-right: 3rem;
  font-size: 2rem;
  white-space: nowrap;
  opacity: 0.8;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
